header {
    background-color: lightblue;
    grid-area: header;
}
main {
    background-color: pink;
    min-height:
    calc(100vh - 54px);
    grid-area: main;
}
nav {
    background-color: lightsalmon;
    grid-area: nav;
}
aside {
    background-color:  lightgreen;
    grid-area: aside;
}
.banner {
    background-color: lavender;
    grid-area: banner;
}
footer {
    background-color: khaki;
    grid-area: footer;
}

.container {
    diplay: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "banner"
    "footer";
}